:root {
    --black-color: black;
    --dimgrey-color: rgb(105,105,105);
    --maintitle-font: "UnifrakturMaguntia", cursive;
    --newstitle1-font: "Playfair Display", serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
}

/*Lenguages and title bars--*/
.title-container {   
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 10px;
    width: 90%;
    margin: auto;
}

.title-container h1{
    font-family: var(--maintitle-font);
    font-size:62px;
}
/* .title-container span {
    padding-right: 40px;

} */

.languages-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px, 8px, 6px;
    height: 50px;
    
    
}

.languages-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    width: 60px;
    height: 30px;
    transition: background-color 0.3s ease;
    margin: 2px;
}

.languages-buttons button:hover {
    background-color: rgb(230, 230, 230);
}


/*Navegation Bar------------*/
.nav-main {
    font-size:small;
    border-bottom: double #555;
    border-top: 1px solid #e2e2e2 ;

    
}

.nav-menu {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 50px;
    

}

.nav-container {
    width: 90%;
    margin: auto;
    
}

.nav-menu li:hover{
    text-decoration: 1.5px underline black;
    cursor: pointer;
}

/*News section---------*/
.news-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 90%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.news-section {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.news-container img {
    width: 100%;
    height: 350px;
}